#projects{
    margin-top: 7rem;
    height: 60vh;
    border: solid 1px;
}

#projects h2{
    font-size: 3rem;
    margin-top: 0;
}

.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Project-cards{
    height: 22rem;
    width: 19rem;
    border: solid 3px;
    transition: 0.6s;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.Project-cards:hover{
    background-color: #c3f73a;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.project-image{
    width: 16rem;
    height: 11rem;
    border: solid 3px;
    margin-left: 22px;
    margin-top: 22px;
}

.project-title,.project-description{
    margin-left: 23px;
}