#skills{
    margin-top: 7rem;
    height: 60vh;
    /* border: solid 1px; */
    margin-bottom: 9rem;
}

#skills h2{
    font-size: 3rem;
    margin-top: 0;
}

.skill-cards{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 35px;
}


.skill-card{
    border: solid 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.6s;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.skill-card p{
   margin: 0;
}

.progress-bar{
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 3px;
    height: 20px;
}

.progress{
    height: 20px;
    background-color: black;
    transition: 0.6s;
    width: 5px;
}

.skill-card:hover{
    background-color: #c3f73a;
    transform: translate(-15px, -15px);
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
    #web{
        width:250px
    }

}